* {
  box-sizing: border-box;
  --corDisciplina: white;
  --corDisciplinaHover: #d3cdcc;
}

body {
  background-color: #e9e6e6fa;
}

header {
  width: 100vw;
  height: 65px;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #62e426fa;
  color: white;
  font-size: 40px;
}

header ion-icon {
  font-size: 40px;
  margin-left: 15px;
}

.logo {
  display: flex;
  align-items: center;
}

header img {
  height: 55px;
  margin-right: 25px;
}

main {
  display: flex;
  margin-top: 50px;
}

main div {
  width: 140px;
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}

div h3 {
  padding: 25px 0 20px 0;
}
article {
  width: 140px;
  height: 80px;
  background-color: var(--corDisciplina);
  margin-bottom: 10px;
  border: 3px solid rgba(63, 55, 55, 0.404);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.selecionado {
  background-color: #62e426fa;
}

.cursando {
  background-color: rgb(204, 201, 16);
}
